@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(130deg)
  }
  60% {
    transform: rotate(230deg)
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-linear {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1.1);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(8);
  }
}

@keyframes q1-circle {
  0%{
    transform-origin: 0 0;
  }
  50%{
    transform-origin: -5px 5px;
    transform: translate(-5%, -5%);
  }
  100% {
    transform-origin: 0 0;
  }
}

@keyframes q2-triangle {
  100% {
    transform: rotate(508deg);
  }
}

@keyframes q2-square {
  100% {
    transform: rotate(414deg);
  }
}

@keyframes q2-circle {
  0%{
    transform: translate(0, 0);
  }
  25%{
    transform: translate(10%, -10%);
  }
  50% {
    transform: translate(10%, 10%);
  }
  75% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes q3-triangle {
  100% {
    transform: rotate(210deg);
  }
}

@keyframes q3-square {
  100% {
    transform: rotate(452deg);
  }
}
