@import "variables";

/* background classes */
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

/* border classes */
.radius {
  border-radius: 3px;
}

/* color classes */
.black {
  color: $color-black;
}
.blue {
  color: $color-blue;
}
.blue-light {
  color: $color-blue-light;
}
.gray {
  color: $color-gray;
}
.gray-dark {
  color: $color-gray-dark;
}
.green {
  color: $color-green;
}
.red {
  color: $color-red;
}
.white {
  color: $color-white;
}

/* font classes */
.bold {
  font-weight: $font-bold;
}
.italic {
  font-style: italic;
}
.ft-title {
  font-size: 64px;
  font-weight: $font-bold;
  line-height: 72px;
}
.ft-sub-title {
  font-size: 36px;
  font-weight: $font-bold;
  line-height: 44px;
}
.ft-sub-title-2 {
  font-size: 24px;
  font-weight: $font-regular;
  line-height: 32px;
}
.ft-paragraph {
  font-size: 20px;
  font-weight: $font-regular;
  line-height: 28px;
}

.h-100-p {
  height: 100%;
}

.hide-over-flow {
  overflow: hidden;
}

.btn-login {
  border: 1px dashed $color-yellow;
  background: rgba(255, 255, 255, 0.3);
  color: $color-yellow;
  position: fixed;
  left: 5px;
  bottom: 5px;
  z-index: 99999;

  &:hover {
    border-color: $color-blue;
    color: $color-blue;
    cursor: pointer;
    font-weight: bolder;
  }
}

/* mixin */
@mixin box($border: none, $radius: 0, $lineHeight: inherit, $height: inherit, $width: inherit, $bgColor: $color-white, $padding: inherit, $box-sizing: inherit) {
  background-color: $bgColor;
  border: $border;
  border-radius: $radius;
  box-sizing: $box-sizing;
  height: $height;
  line-height: $lineHeight;
  padding: $padding;
  width: $width;
}
@mixin flex-box($justify-content: flex-start, $align-items: flex-start, $direction: row, $wrap: nowrap) { //, $flex-shrink: 1, $flex-grow: 0, $flex-basis: auto) {
  align-items: $align-items;
  display: flex;
  // flex-basis: $flex-basis;
  flex-direction: $direction;
  // flex-grow: $flex-grow;
  // flex-shrink: $flex-shrink;
  flex-wrap: $wrap;
  justify-content: $justify-content;
}
